    {% extends 'base.html' %}

    {% block title %}Quem somos{% endblock %}

    {% block conteudo %}
    <!-- quem somos -->
    <div>
      <h2>Quem somos</h2>
      <p>
        Fundado em 2015 por um grupo de amigos apaixonados por bem-estar e atividade física, o Harmonia Fitness nasceu com a visão de criar um espaço onde todos poderiam cuidar do corpo e da mente. Inspirados pela nossa própria busca por uma vida mais saudável e equilibrada, decidimos criar um centro onde técnicas variadas de exercício se encontram para proporcionar saúde integral aos nossos clientes.
      </p>
    </div>
    <!-- serviços -->
    <h2>Serviços</h2>
    <div class="servicos">
      <div class="card" style="width: 18rem;">
        <img src="../static/img/pilates.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pilates</h5>
          <p class="card-text">Melhore sua postura e flexibilidade em um ambiente sereno e equipado com tudo que você precisa para o Pilates.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../static/img/musculacao.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Musculação</h5>
          <p class="card-text">Com equipamentos de última geração e treinadores experientes, transforme seu corpo e aumente sua força.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../static/img/funcional.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Funcional</h5>
          <p class="card-text">Aumente sua capacidade funcional para um desempenho ótimo no dia a dia através de treinos dinâmicos e personalizados.</p>
        </div>
      </div>
    </div>
    <!-- valores -->
    <div>
      <h2>Valores</h2>
      <ul>
        <li>Comunidade: Fomentar um ambiente acolhedor onde todos se sentem em casa.</li>
        <li>Integridade: Agir com honestidade e transparência com nossos clientes e equipe.</li>
        <li>Saúde Integral: Promover um estilo de vida que balanceia corpo, mente e espírito.</li>
        <li>Inovação: Adotar novas técnicas e tecnologias para melhor atender às necessidades de nossos clientes.</li>
      </ul>
    </div>
    <!-- missão -->
    <div>
      <h2>Missão</h2>
      <p>
        Nossa missão é inspirar nossos membros a atingirem seus objetivos de saúde e bem-estar através de um acompanhamento personalizado e métodos de treinamento eficazes. No Harmonia Fitness, você não é apenas mais um número; você é parte essencial da nossa comunidade.
      </p>
    </div>
    <!-- visão -->
    <div>
      <h2>Visão</h2>
      <p>
        Aspiramos ser um marco na comunidade local como o centro de fitness mais completo e acolhedor, reconhecido pelo nosso compromisso com a qualidade de vida de nossos clientes e pela excelência no serviço.
      </p>
    </div>

    <div>
      <h2>Diferenciais</h2>
      <p>
        No Harmonia Fitness, nós nos orgulhamos de nosso ambiente inclusivo e motivador. Aqui, cada membro é incentivado a superar seus limites com o suporte de profissionais dedicados e uma comunidade que apoia um ao outro.
      </p>
    </div>

    <div>
      <h2>Público-Alvo</h2>
      <p>
        Nossos serviços são ideais para indivíduos de todas as idades que valorizam a saúde e o bem-estar, desde jovens adultos buscando melhorar seu desempenho atlético até pessoas mais velhas que desejam manter um estilo de vida ativo e saudável.
      </p>
    </div>
    {% endblock %}